<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:integration="http://www.springframework.org/schema/integration"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd">











	<context:annotation-config />
	<context:component-scan base-package="com.demo" />


	<bean id="router" class="org.restlet.ext.spring.SpringRouter">
		<property name="attachments">
			<map>
				<entry key="/cliente" value="com.demo.ClienteResource" />
				<entry key="/hello" value="com.demo.HelloWorldResource" />
				<entry key="/order/{user}" value="com.demo.OrdersResource" />
				<entry key="/user/{user}">
					<bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="create" bean="userResource" />
					</bean>
				</entry>
			</map>
		</property>
	</bean>


	<bean id="application" class="com.demo.FirstStepsApplication"
		scope="singleton">
		<property name="root" ref="router" />
	</bean>

	<bean id="userResource" class="com.demo.UserResource" scope="prototype">
		<property name="userService" ref="userService" />
	</bean>


	<bean id="userService" class="com.demo.UserService">

	</bean>

	
		<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://10.0.2.15:9060/test" />
		<property name="username" value="root" />
		<property name="password" value="password" />
	</bean>



</beans>